<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<table >
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:each="role:${user.getAuthorities()}" th:text="${role.getAuthority()}"/>
    </tr>
    </p>
    <div th:if="${#request.isUserInRole('ROLE_ADMIN')}">
        <a href="/admin/">Вернуться к списку пользователей</a>
        <br/><br/>
    </div>
</table>
<br>
<a href="/logout">Logout</a>
</body>
</html>